<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login de administracion</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
<body>
<h1>Iniciar sesión</h1>
{% if form.errors %}
<p> Nombre de usuario o contraseña incorrectos</p>
{% endif %}
<form method="post">
    {% csrf_token %} 
    {{form.as_p}}
    <button type="submit">Iniciar sesión</button>
</form>

</body>
</html>